{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %}
    <li>{{ team.name }}</li>
    <li class="active">Tools</li>
{% endblock %}

{% block main %}
    <div class="container-fluid">

        <div id="add-organization" class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <a href="javascript:void(0)" onclick="openbox2('', 0)"><img src="{% static "img/add-tool.png" %}" class="img-responsive"></a>
                <h2 class="text-center text-muted">Add Tool or Service</h2>
            </div>
        </div>
    </div>

    <div id="shadowing"></div>

    {% include "widgets/add_tools.html" %}

    <div id="loading-data" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{% static "img/load.gif" %}" height="32" width="32"><span style="padding-left: 10px;">Loading data from service...</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- services -->
    <script src="{% static "js/services.js" %}"></script>
{% endblock %}
