{% extends "base_nonav.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block main %}
    <div class="col-lg-12 col-md-12 col-sm-12">

        <div id="reset-password" class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12">
            <div class="col-lg-12 col-md-12 col-sm-12 bg-grey">

                <h2>{% trans "Confirm E-mail Address" %}</h2>

                {% if confirmation %}

                    {% user_display confirmation.email_address.user as user_display %}

                    <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

                    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                        {% csrf_token %}
                        <button type="submit" class="acc-btns">{% trans 'Confirm' %}</button>
                    </form>

                {% else %}

                    {% url 'account_email' as email_url %}

                    <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

                {% endif %}

            </div>
        </div>

    </div>
{% endblock %}
