{% extends "base_nonav.html" %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block main %}
    <div class="col-lg-12 col-md-12 col-sm-12">

        <div id="reset-password" class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12">
            <div class="col-lg-12 col-md-12 col-sm-12 bg-grey">

                <h2>{% trans "Change Password" %}</h2>
                <p>{% trans 'Your password is now changed.' %}</p>

            </div>
        </div>

    </div>
{% endblock %}
